.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1rem;
    color: #fff;
}

.navbar-left {
    margin-right: auto;
}

.choose-image-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #1e8e3e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

.nav-link {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    color: #feda4a;
}

.navbar-right {
    margin-left: auto;
}

.save-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #feda4a;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #ffc107;
}